[add.interactive]
    useBuiltin = false # required for git 2.37.0

[core]
    commitGraph = true
    editor = micro
    pager = delta

[diff]
    algorithm = patience
    colorMoved = default

[delta]
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)

[gc]
    writeCommitGraph = true

[init]
    defaultBranch = main

[interactive]
    diffFilter = delta --color-only

[merge]
    conflictstyle = diff3

[protocol]
    version = 2

[user]
    name = {{ .realname }}
    email = {{ .email }}
